<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Check Demo">
    <classes>
<!--      <class name="skyselect_Maven.skyselect_Maven.NewTest"/>-->
      <class name="skyselect_Maven.skyselect_Maven.Buyer_Demo"/>
<!--      <class name="skyselect_Maven.skyselect_Maven.supplier_Demo"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
